body {
  background-color: #DCDCDC;
  font-family: Didot;
  text-align: center;
}

div {
  border: 3px solid #000000;
  radius: 0px
}


.inspiration {
  background-color: #000000;
  height: 700px;
  width: 700px;
  display: inline-block;
}

#title {
  font-size: 150px;
  background-color: #000000;
  color: #DCDCDC;
  margin: auto;
  padding: 50px;
}

.palette {
  background-color: white;
  width: 800px;
}



#square {
  height: 100px;
  width: 100px;
  background-color: #DCDCDC
  display: inline-block;
}

h1{
    color: #A9A9A9;
    font-family: Bebas;
    font-size: 100px;
    letter-spacing: 0.3em;
}

}

h4{
    color: #A9A9A9;
    font-family: Bebas;
    font-size: 100px;
    letter-spacing: 0.3em;
}


}
.titleBorder{
    height: 200px;
    background-color: black;
    color: black;
}

.titleBorder:hover{
    background-color: #000000;
    color: #000000;
    text-indent: 11em;
    font-family: Bebas;
}

.subtitle{
    padding-top: 50px;
    font-size: 75px;
    margin: auto;
}

.content-paragraph{
    margin: auto;
    color: #F0FFFF;
    font-size: 20px;
    line-height: 26px;
    max-width: 640px;
    font-family: Caviar-2;
}

.content-paragraph:first-line{
    font-size: 30px;
    font-family: Caviar;
    line-height: 40px;
}



.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 500px;
}

img {
    border: 20px solid #000000;
}

#img-link:hover{
    border: 50px solid #FFE4C4;
}

#first-bar {
  margin-top: 4em;
  padding: 1em;
}

/* Menu Styling*/
header {
  position: fixed;
  background-color: black;
  width: 99%;
  height: 4em;
  top: 0px;
  font-family: Merriweather;
  text-align: right;
}


.menu-item {
  display: inline-block;
  margin: 1em .2em;
  background-color: #333;
  padding: 1em 1em;
  border-radius: 1em;
  min-width: 6em;
  text-align: center;
}

.menu-item:hover{
  background-color: #E81C23;
  color: #333;
}

.menu-item a {
  color: white;
  text-decoration: none;
}


.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0.5em 0 0 -1em;
  color: #000;
  background-color: #fff;
  z-index: 1;
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content a{
  color: #000;
}



.dropdown-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 6em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color: white;
  background-color: #E81C23;
}


#FAQ:hover{
  border-radius: 0em 0em 1em 1em;
}

.dropdown-hover {
  border-radius: 5em 5em 5em 5em;
}


.site-name {
  color: #E81C23;
  float: left;
  min-width: 6em;
  padding: 0.5 1em;
  letter-spacing: 0.3em;
  font-weight: bold;
  margin: 1em .2em;
}
